
/*--------------------------------------------------------------
Hero wrap
--------------------------------------------------------------*/
.hero-wrap {
    max-height: calc(100vh - 22rem);
}

@media (max-width: 1600px) {
    .hero-wrap {max-height: calc(100vh - 16rem);}
}

@media (max-width: 1280px) {
    .hero-wrap {max-height: calc(100vh - 6rem);}
}

.img-kenburns {
    -webkit-animation: kenburns 20s forwards;
    animation: kenburns 20s forwards;
}

.parallax {
    -webkit-transition: transform 0.3s ease 0s;
    transition:transform 0.3s ease 0s;
}

.he-na-fi {
    position: absolute;
    bottom: 0;
}

.he-na-fi  .button-navi {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border: solid 0.1rem var(--white);
    color: #fff;
}


@media screen and (max-width: 1040px) {
    .hero-txt-block {
        transform: translate(0) !important;
    }
}

@media screen and (max-width: 768px) {
   .product-slider-wrap {margin-right: -1.6rem !important;}
}