/*--------------------------------------------------------------
Woocommerce - Messages boxes info
--------------------------------------------------------------*/
.close-message-btn {
    display: block;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: rgba(150, 125, 78,.2);
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out .2s;
}

.close-message-btn:hover {
    background: rgba(150, 125, 78,.3);

}

.message-box {
    background: #f9f9f9;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding:1.6rem;
    border: none;
    font-size: 0.95em;
    text-align: left;
    position: relative;
    color: rgba(0, 0, 0, 0.65);
}

.message-boxs.show {
    -webkit-animation: 0.4s slide_up cubic-bezier(0.4, 0, 0.2, 1);
    animation: 0.4s slide_up cubic-bezier(0.4, 0, 0.2, 1);
}

.message-box.hide {
    -webkit-animation: 0.4s slide_down cubic-bezier(0.4, 0, 0.2, 1);
    animation: 0.4s slide_down cubic-bezier(0.4, 0, 0.2, 1);
}


.message-box a.go-cart, .message-box  > a:first-child, .message-box a {
    color: #24262b;
    font-weight: 600;
    margin: 0 5px;
    position: relative;
    float: right;
}

.message-box a:before {
    content: '';
    background: currentColor;
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 0;
}

.message-box a:hover:before{
    opacity: 1;
    width: 100%;
    background: currentColor;
    -webkit-transition: all 0.2s 0s;
    -o-transition: all 0.2s 0s;
    transition: all 0.2s 0s;
}

.woocommerce-message {
    position: fixed;
    bottom: 25px;
    z-index: 999999;
    left: 50%;
    width: auto;
    border: none;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top: 0;
}

.message-box.primary {
    background: var(--c1); }
.message-box.success {
    background:  var(--c1);}
.message-box.error {
    background:  var(--c1); }
.message-box.warning {
    background: var(--c1); }

/*--------------------------------------------------------------
Bogo CSS
--------------------------------------------------------------*/

label.bogo-block.selected .blogo-block-wrap {
    border: solid 2px var(--c1);
}