/*--------------------------------------------------------------
Theme specific
--------------------------------------------------------------*/
.multisite .headwrap {
    height: auto;
}


/*--------------------------------------------------------------
Plugin general
--------------------------------------------------------------*/

.langimg {
    display: inline-block;
    width: 1.6rem;
    margin-top: -.3rem;
    position: relative;
}

.switcher-btn {
    position: relative;
    display: block;
}

.switcher-btn:hover::before {
    position: absolute;
    top: 0;
    height: 50px;
    left: -20px;
    right: -30px;
    display: block;
    content: '';
    background-color: transparent;
    z-index: 1002;
}

.switcher-btn:hover .multisite-language-swithcer, .multisite-language-swithcer:hover{
    display: block;
}

.multisite-language-swithcer::before {
    position: absolute;
    top: -5px;
    left: 5rem;
    right: 0;
    margin: auto;
    display: block;
    content: '';
    z-index: -1;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(
            45deg
    );
}

.multisite-language-swithcer {
    text-align: left;
    position: absolute;
    top: 3.8rem;
    border-radius: .6rem;
    box-shadow: 0 2rem 4rem 0 rgba(1, 1, 2, 0.12);
    right:0 ;
    margin-right: 1.6rem;
    background-color: #fff;
    padding: 1.6rem !important;
    width: calc(100% + 1.6rem);
    display: none;
    z-index: 1000;
}


@media (max-width: 900px) {
    .multisite-language-swithcer {
    }

    .multisite-language-swithcer::before {
        display: none;
    }
}


