@font-face {
  font-family: 'Lk';
  src: url('body/Light.woff2') format('woff2'), url('body/Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lk';
  src: url('body/SemiBold.woff2') format('woff2'), url('body/SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Little Days';
  src: url('body/LittleDays.woff2') format('woff2'), url('body/LittleDays.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine';
  src: url('body/LinLibertineB.woff2') format('woff2'),
  url('body/LinLibertineB.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'star';
  src: url('fonts/star.eot');
  src: url('fonts/star.eot?#iefix') format('embedded-opentype'),
  url('fonts/star.woff') format('woff'),
  url('fonts/star.ttf') format('truetype'),
  url('fonts/star.svg#star') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?9dkenc');
  src:  url('fonts/icons.eot?9dkenc#iefix') format('embedded-opentype'),
  url('fonts/icons.woff2?9dkenc') format('woff2'),
  url('fonts/icons.ttf?9dkenc') format('truetype'),
  url('fonts/icons.woff?9dkenc') format('woff'),
  url('fonts/icons.svg?9dkenc#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-konto-icon:before {
  content: "\e971";
}
.icon-trash_icon:before {
  content: "\e96f";
}
.icon-Ordrer_icon:before {
  content: "\e96c";
}
.icon-wish-list_icon:before {
  content: "\e96e";
}
.icon-Adresse-icon:before {
  content: "\e95b";
}
.icon-Log_ud-icon:before {
  content: "\e960";
}
.icon-Ordrer_icon2:before {
  content: "\e961";
}
.icon-arrow_up-icon:before {
  content: "\e959";
}
.icon-Minus_ikon:before {
  content: "\e956";
}
.icon-plus_ikon:before {
  content: "\e945";
}
.icon-kundeservice-icon:before {
  content: "\e946";
}
.icon-levering-icon:before {
  content: "\e947";
}
.icon-min-bestilling_icon:before {
  content: "\e948";
}
.icon-min-konto_icon:before {
  content: "\e949";
}
.icon-retur-icon:before {
  content: "\e94a";
}
.icon-Shopping-bag-icon:before {
  content: "\e94b";
}
.icon-Tak-for-bestillingen-icon:before {
  content: "\e94c";
}
.icon-tracking-icon:before {
  content: "\e94d";
}
.icon-Varer_icon:before {
  content: "\e94e";
}
.icon-myacount_2 .path1:before {
  content: "\e905";
  color: rgb(238, 242, 244);
}
.icon-myacount_2 .path2:before {
  content: "\e908";
  margin-left: -1.0478515625em;
  color: rgb(248, 247, 244);
}
.icon-myacount_2 .path3:before {
  content: "\e909";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path4:before {
  content: "\e90a";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path5:before {
  content: "\e90b";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path6:before {
  content: "\e90c";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path7:before {
  content: "\e90d";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path8:before {
  content: "\e90e";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path9:before {
  content: "\e90f";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path10:before {
  content: "\e910";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path11:before {
  content: "\e911";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path12:before {
  content: "\e912";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path13:before {
  content: "\e913";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path14:before {
  content: "\e914";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path15:before {
  content: "\e915";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path16:before {
  content: "\e916";
  margin-left: -1.0478515625em;
  color: rgb(204, 199, 189);
}
.icon-myacount_2 .path17:before {
  content: "\e917";
  margin-left: -1.0478515625em;
  color: rgb(204, 199, 189);
}
.icon-myacount_2 .path18:before {
  content: "\e918";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path19:before {
  content: "\e919";
  margin-left: -1.0478515625em;
  color: rgb(185, 189, 191);
}
.icon-myacount_2 .path20:before {
  content: "\e91a";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.icon-myacount_2 .path21:before {
  content: "\e91b";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.icon-myacount_2 .path22:before {
  content: "\e91c";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path23:before {
  content: "\e91d";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path24:before {
  content: "\e91e";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path25:before {
  content: "\e91f";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path26:before {
  content: "\e920";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path27:before {
  content: "\e921";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path28:before {
  content: "\e922";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path29:before {
  content: "\e923";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path30:before {
  content: "\e924";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path31:before {
  content: "\e925";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path32:before {
  content: "\e926";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path33:before {
  content: "\e927";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path34:before {
  content: "\e92b";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount_2 .path35:before {
  content: "\e92c";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-cart_icon .path1:before {
  content: "\e92d";
  color: rgb(238, 242, 244);
}
.icon-cart_icon .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(238, 242, 244);
}
.icon-cart_icon .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(238, 242, 244);
}
.icon-cart_icon .path4:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(185, 189, 191);
}
.icon-cart_icon .path5:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(185, 189, 191);
}
.icon-cart_icon .path6:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(185, 189, 191);
}
.icon-cart_icon .path7:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-cart_icon .path8:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-cart_icon .path9:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-search_icon .path1:before {
  content: "\e936";
  color: rgb(238, 242, 244);
}
.icon-search_icon .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(238, 242, 244);
}
.icon-search_icon .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-search_icon .path4:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(185, 189, 191);
}
.icon-search_icon .path5:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-search_icon .path6:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-search_icon .path7:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-search_icon .path8:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(185, 189, 191);
}
.icon-search_icon .path9:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path1:before {
  content: "\e941";
  color: rgb(193, 177, 172);
}
.icon-myacount .path2:before {
  content: "\e942";
  margin-left: -1.0478515625em;
  color: rgb(248, 247, 244);
}
.icon-myacount .path3:before {
  content: "\e943";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path4:before {
  content: "\e944";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path5:before {
  content: "\e94f";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path6:before {
  content: "\e950";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path7:before {
  content: "\e951";
  margin-left: -1.0478515625em;
  color: rgb(193, 163, 145);
}
.icon-myacount .path8:before {
  content: "\e952";
  margin-left: -1.0478515625em;
  color: rgb(193, 163, 145);
}
.icon-myacount .path9:before {
  content: "\e953";
  margin-left: -1.0478515625em;
  color: rgb(148, 137, 133);
}
.icon-myacount .path10:before {
  content: "\e954";
  margin-left: -1.0478515625em;
  color: rgb(148, 137, 133);
}
.icon-myacount .path11:before {
  content: "\e955";
  margin-left: -1.0478515625em;
  color: rgb(148, 137, 133);
}
.icon-myacount .path12:before {
  content: "\e957";
  margin-left: -1.0478515625em;
  color: rgb(148, 137, 133);
}
.icon-myacount .path13:before {
  content: "\e958";
  margin-left: -1.0478515625em;
  color: rgb(148, 137, 133);
}
.icon-myacount .path14:before {
  content: "\e95a";
  margin-left: -1.0478515625em;
  color: rgb(148, 137, 133);
}
.icon-myacount .path15:before {
  content: "\e95c";
  margin-left: -1.0478515625em;
  color: rgb(148, 137, 133);
}
.icon-myacount .path16:before {
  content: "\e95d";
  margin-left: -1.0478515625em;
  color: rgb(204, 199, 189);
}
.icon-myacount .path17:before {
  content: "\e95e";
  margin-left: -1.0478515625em;
  color: rgb(204, 199, 189);
}
.icon-myacount .path18:before {
  content: "\e95f";
  margin-left: -1.0478515625em;
  color: rgb(148, 137, 133);
}
.icon-myacount .path19:before {
  content: "\e962";
  margin-left: -1.0478515625em;
  color: rgb(148, 137, 133);
}
.icon-myacount .path20:before {
  content: "\e963";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.icon-myacount .path21:before {
  content: "\e964";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.icon-myacount .path22:before {
  content: "\e965";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path23:before {
  content: "\e966";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path24:before {
  content: "\e967";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path25:before {
  content: "\e976";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path26:before {
  content: "\e977";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path27:before {
  content: "\e978";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path28:before {
  content: "\e979";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path29:before {
  content: "\e97a";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path30:before {
  content: "\e97b";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path31:before {
  content: "\e97c";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path32:before {
  content: "\e97d";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path33:before {
  content: "\e97e";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path34:before {
  content: "\e97f";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-myacount .path35:before {
  content: "\e980";
  margin-left: -1.0478515625em;
  color: rgb(29, 29, 27);
}
.icon-wishlist_icon .path1:before {
  content: "\e968";
  color: rgb(238, 242, 244);
}
.icon-wishlist_icon .path2:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-wishlist_icon .path3:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-wishlist_icon .path4:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-wishlist_icon .path5:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(185, 189, 191);
}
.icon-wishlist_icon .path6:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-search_icon_outlined:before {
  content: "\e974";
}
.icon-cart_icon_outlined:before {
  content: "\e970";
}
.icon-wishlist_icon_outlined:before {
  content: "\e973";
}
.icon-myacount_outlined:before {
  content: "\e972";
}
.icon-messenger:before {
  content: "\e907";
}
.icon-verified-commercial-list:before {
  content: "\e981";
}
.icon-headset-for-call-service:before {
  content: "\e984";
}
.icon-delivery-truck:before {
  content: "\e982";
}
.icon-fast-delivery:before {
  content: "\e99d";
}
.icon-delivery-truck-2:before {
  content: "\e983";
}
.icon-barcode-scan:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e99e";
}
.icon-map-pin:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e928";
}
.icon-chevron-small-down:before {
  content: "\e929";
}
.icon-chevron-small-left:before {
  content: "\e92a";
}
.icon-chevron-small-right:before {
  content: "\e93d";
}
.icon-chevron-small-up:before {
  content: "\e93f";
}
.icon-icon-cross:before {
  content: "\e985";
}
.icon-location-pin:before {
  content: "\e986";
}
.icon-arrow-thin-down:before {
  content: "\e901";
}
.icon-arrow-thin-left:before {
  content: "\e902";
}
.icon-arrow-thin-right:before {
  content: "\e903";
}
.icon-arrow-thin-up:before {
  content: "\e904";
}
.icon-checkmark:before {
  content: "\e9a0";
}
.icon-close:before {
  content: "\e9a1";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-pinterest-p:before {
  content: "\f231";
}